---
import { getCollection } from "astro:content";
import IconArrowLeft from "@/assets/icons/IconArrowLeft.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { getSortedPosts } from "@/utils/getSortedPosts";
import { getPath } from "@/utils/getPath";
import { useTranslations } from "@/i18n";

type Props = {
  id: string;
};

const { id } = Astro.props;

const allPosts = await getCollection("posts");
const sortedPosts = getSortedPosts(allPosts).map(
  ({ data: { title }, id, filePath }) => ({ id, title, filePath })
);

const currentPostIndex = sortedPosts.findIndex(a => a.id === id);

const prevPost =
  currentPostIndex > 0 ? sortedPosts[currentPostIndex - 1] : null;

const nextPost =
  currentPostIndex < sortedPosts.length - 1
    ? sortedPosts[currentPostIndex + 1]
    : null;

const t = useTranslations(Astro.currentLocale ?? "en");
---

<div data-pagefind-ignore class="my-8 grid grid-cols-1 gap-6 sm:grid-cols-2">
  {
    prevPost && (
      <a
        href={getPath(prevPost.id, prevPost.filePath)}
        class="flex w-full gap-1 hover:opacity-75"
      >
        <IconArrowLeft class="inline-block flex-none rtl:rotate-180" />
        <div>
          <span>{t.post.previousPost}</span>
          <div class="text-accent/85 text-sm">{prevPost.title}</div>
        </div>
      </a>
    )
  }
  {
    nextPost && (
      <a
        href={getPath(nextPost.id, nextPost.filePath)}
        class="flex w-full justify-end gap-1 text-end hover:opacity-75 sm:col-start-2"
      >
        <div>
          <span>{t.post.nextPost}</span>
          <div class="text-accent/85 text-sm">{nextPost.title}</div>
        </div>
        <IconArrowRight class="inline-block flex-none rtl:rotate-180" />
      </a>
    )
  }
</div>
