---
import Datetime from "@components/Datetime.astro";
import Header from "@components/Header.astro";
import Tag from "@components/Tag.astro";
import Layout from "@layouts/Layout.astro";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../index.astro";

export interface Props {
  post: MarkdownInstance<Frontmatter>;
}

export async function getStaticPaths() {
  const posts = await Astro.glob("../../contents/*.md");

  return posts.map((post) => {
    return {
      params: {
        slug: post.frontmatter.slug,
      },
      props: {
        post,
        frontmatter: post.frontmatter,
      },
    };
  });
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
  <Header />
  <main>
    <h1 class="post-title">{frontmatter.title}</h1>
    <Datetime datetime={frontmatter.datetime} size="lg" className="my-2" />
    <ul class="tags-container">
      {frontmatter.tags.map((tag) => <Tag name={tag} />)}
    </ul>
    <article
      id="article"
      role="article"
      class="mx-auto max-w-3xl prose prose-slate"
    >
      <Content />
    </article>
  </main>
</Layout>

<style>
  main {
    @apply max-w-3xl mx-auto px-4 py-12;
  }
  .post-title {
    @apply font-semibold text-2xl text-skin-accent;
  }
  .tags-container {
    @apply mb-8;
  }
</style>
