@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 40, 39, 40;
    --color-text-accent: 0, 108, 172;
    --color-fill: 251, 254, 251;
    --color-accent: 0, 108, 172;
    --color-card: 230, 230, 230;
  }
  .theme-dark {
    --color-text-base: 250, 253, 254;
    --color-text-accent: 26, 217, 217;
    --color-fill: 38, 45, 54;
    --color-accent: 26, 217, 217;
    --color-card: 63, 75, 90;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}
