@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}

@layer components {
  .markdown-alert {
    --color-border-default: #d0d7de;
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-danger-fg: #d1242f;
    --color-danger-emphasis: #cf222e;
    --color-attention-fg: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-done-fg: #8250df;
    --color-done-emphasis: #8250df;
    --color-success-fg: #1a7f37;
    --color-success-emphasis: #1f883d;
  }

  html[data-theme="dark"] .markdown-alert {
    --color-border-default: #30363d;
    --color-accent-fg: #58a6ff;
    --color-accent-emphasis: #1f6feb;
    --color-danger-fg: #f85149;
    --color-danger-emphasis: #da3633;
    --color-attention-fg: #d29922;
    --color-attention-emphasis: #9e6a03;
    --color-done-fg: #a371f7;
    --color-done-emphasis: #8957e5;
    --color-success-fg: #3fb950;
    --color-success-emphasis: #238636;
  }

  .markdown-alert {
    border-left: 0.25em solid var(--borderColor-default, var(--color-border-default));
    @apply mt-6 mb-4 px-4 text-inherit;
  }
  .markdown-alert p {
    @apply mt-0 mb-0;
  }
  .markdown-alert .markdown-alert-title {
    line-height: 1.5;
    @apply flex items-center font-medium py-2;
  }
  .markdown-alert .markdown-alert-title svg.octicon {
    @apply mr-2 fill-current;
  }

  .markdown-alert.markdown-alert-note {
    border-left-color: var(--borderColor-accent-emphasis, var(--color-accent-emphasis));
  }
  .markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--color-accent-fg);
    color: var(--fgColor-accent, var(--color-accent-fg));
  }
  .markdown-alert.markdown-alert-tip {
    border-left-color: var(--borderColor-success-emphasis, var(--color-success-emphasis));
  }
  .markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--color-success-fg);
    color: var(--fgColor-success, var(--color-success-fg));
  }
  .markdown-alert.markdown-alert-important {
    border-left-color: var(--borderColor-done-emphasis, var(--color-done-emphasis));
  }
  .markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--color-done-fg);
    color: var(--fgColor-done, var(--color-done-fg));
  }
  .markdown-alert.markdown-alert-warning {
    border-left-color: var(--borderColor-attention-emphasis, var(--color-attention-emphasis));
  }
  .markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--color-attention-fg);
    color: var(--fgColor-attention, var(--color-attention-fg));
  }
  .markdown-alert.markdown-alert-caution {
    border-left-color: var(--borderColor-danger-emphasis, var(--color-danger-emphasis));
  }
  .markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--color-danger-fg);
    color: var(--fgColor-danger, var(--color-danger-fg));
  }
}
