---
import LunchLayout from "@layouts/LunchLayout.astro";
import { getCollection } from "astro:content";
import euro from "@utils/euro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("lunch");
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
export const prerender = true;
---

<LunchLayout frontmatter={entry.data}>
  <Content />
  <p class="py-2">{euro.format(entry.data.price)}</p>
</LunchLayout>
