---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
let maxCount = tags[0].count;
let minCount = 1;
tags.forEach(tag => {
    if (tag.count > maxCount) {
        maxCount = tag.count;
    }
    if (tag.count < minCount) {
        minCount = tag.count;
    }
});
function getFontSize(count: number) {
    const maxFontSize = 45;
    const minFontSize = 14;
    const fontSize = minFontSize +
        ((count - minCount) / (maxCount - minCount)) * (maxFontSize - minFontSize);
    return fontSize;
}
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul>
      {tags.map(({ tag, count }) => <Tag {tag} size={getFontSize(count)} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
