---
import Layout from "@layouts/Layout.astro";
const title = "Getränke";
const activeNav = "drinks";
---

<Layout activeNav={activeNav}>
  <section>
    <h1 class="mr-2">
      {title}
    </h1>
    <p>Hier kommen die Getränke hin.</p>
  </section>
</Layout>
