---
import Layout from "@layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <section>
    <h1 class="my-4 mr-2 inline-block text-3xl font-bold sm:my-8 sm:text-5xl">
      Willkommen im Restaurant Rhodos!
    </h1>
    <p>Ihr gemütlicher Grieche in Weiterstadt.</p>
  </section>
</Layout>
