---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import bannerImage from "@/assets/images/pascalandy-banner.jpg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class="pt-8 pb-6">
      <img
        src={bannerImage.src}
        alt="Pascal Andy"
        class="mb-6 w-full rounded-lg"
      />
      <p class="text-lg">
        Pour les « non technos » qui desirent de meilleures relations avec les technologies.
      </p>
      <p class="mt-4">
        J'habite a Montreal au Canada. J'ai toujours ete un patenteux, une personne qui entreprend ses idees. Pour moi, c'est une facon de vivre. J'aime me questionner et simplifier ce qui nous parait complexe.
      </p>
      <p class="mt-4">
        La facon dont les technologies nous impactent me fascine. Elles m'amenent a me questionner et a tenter de comprendre comment elles faconnent nos vies au quotidien.
      </p>
      <p class="mt-6">
        Bienvenue dans mon monde,<br />
        <span class="font-semibold">Pascal</span>
      </p>
    </section>

    {
      featuredPosts.length > 0 && (
        <section
          id="featured"
          class:list={[
            "pt-12 pb-6",
            { "border-b border-border": recentPosts.length > 0 },
          ]}
        >
          <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>
          <ul>
            {featuredPosts.map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
        </section>
      )
    }




  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
