---
import { getCollection } from 'astro:content';

// 获取 blog 目录下的所有文章
const posts = await getCollection('blog');
// 按日期倒序排列
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>我的博客</title>
  </head>
  <body>
    <h1>博客文章列表</h1>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            <h2>{post.data.title}</h2>
            {post.data.pubDate.toISOString().slice(0, 10)}
            {post.data.description}
          </a>
        </li>
      ))}
    </ul>
  </body>
</html>
