---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import TitleImage from "../assets/images/title.jpg";
---

<Layout>
  <section>
    <h1 class="my-4 mr-2 text-3xl font-bold sm:my-8 sm:text-5xl">
      Willkommen im Restaurant Rhodos!
    </h1>

    <Image
      src={TitleImage}
      widths={[256, 512, 768, 1024]}
      alt="Willkommen im Restaurant Rhodos!"
    />
    <p>Ihr gemütlicher Grieche in Weiterstadt.</p>
  </section>
</Layout>
