---
import Layout from "@layouts/Layout.astro";
const title = "Mittagskarte:";
const activeNav = "lunch";
---

<Layout activeNav={activeNav}>
  <section>
    <h1 class="mr-2">
      {title}
    </h1>
    <p>Hier kommt die Mittagskarte hin.</p>
  </section>
</Layout>
