---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Meal from "@components/Meal.astro";
const title = "Mittagskarte:";
const activeNav = "lunch";
const posts = await getCollection("lunch");
---

<Layout activeNav={activeNav}>
  <section>
    <h1 class="mr-2">
      {title}
    </h1>
    <p>Hier kommt die Mittagskarte hin.</p>
    <ul>
      {posts.map(post => <Meal {post} />)}
    </ul>
  </section>
</Layout>
