---
import Layout from "@layouts/Layout.astro";
const title = "Speisen";
const activeNav = "menu";
---

<Layout activeNav={activeNav}>
  <section>
    <h1 class="mr-2">
      {title}
    </h1>
    <p>Hier kommt die Speisekarte hin.</p>
  </section>
</Layout>
