---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";

import SearchBar from "@components/Search";

// Retrieve all articles
const posts = await getCollection("lunch", ({ data }) => !data.draft);

// List of items to search in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  data,
}));
---

<Layout title={`Suchen | ${SITE.title}`} ,activeNav="search">
  <Main pageTitle="Suchen" pageDesc="Die Suche ist noch nicht verfügbar.">
    <!--  <SearchBar client:load searchList={searchList} /> -->
  </Main>
</Layout>
