---
import Header from "@components/Header.astro";
import Tag from "@components/Tag.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getUniqueTags from "src/utils/getUniqueTags";
import type { Frontmatter } from "./index.astro";

const posts = await Astro.glob<Frontmatter>("../contents/*.md");

let tags = getUniqueTags(posts);
---

<Layout title="AstroPaper: tags">
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul>
      {tags.map((tag) => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
</Layout>
