---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import Sports from "@/components/Sports.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.category === "sports";
  });
  return paginate(getSortedPosts(posts), { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`Sports | ${SITE.title}`}>
  <Header />
  <Sports />
  <Main pageTitle="Sports" pageDesc="">
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>
  <Pagination {page} />
  <Footer noMarginTop={page.lastPage > 1} />
</Layout>