---
import { SITE } from "@/config";
---

{
  SITE.showBackButton && (
    <div class="app-layout mt-8 mb-2">
      <a
        id="back-button"
        href="/"
        class="text-muted-foreground hover:text-foreground"
      >
        &larr; Go back
      </a>
    </div>
  )
}

<script>
  /* Update Search Praam */
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
