---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();
---

<footer class="text-gray-200 w-full bg-gradient-to-r from-blue-600 to-blue-100">
  <Hr />
  <div
    class="md:grid-cols-3 mx-auto flex max-w-6xl grid-cols-1 items-center justify-between gap-4 px-4 py-8"
  >
    <div class="text-blue-200 flex flex-col items-start text-sm">
      <p>Restaurant Rhodos</p>
      <p>Mainzer Straße 2, 64331 Weiterstadt</p>
      <p>Telefon: 06150-4120</p>
      <a href="mailto:info@restaurant-rhodos.net" class="hover:underline"
        >E-Mail: info@restaurant-rhodos.net</a
      >
    </div>

    <div class="text-blue-800 flex flex-col items-center text-sm">
      <p>Öffnungszeiten:</p>
      <p>Dienstag - Freitag & Sonntag:</p><p>12:00 - 14:30 und 17:00 - 23:00</p>
      <p>Samstag: 17:00 - 23:00</p>
      <p>Montag: Ruhetag</p>
    </div>
  </div>

  <div
    class="md:px-8 text-blue-800 flex items-center justify-between px-4 py-4"
  >
    <span class="text-blue-200 text-sm"
      >&copy; {currentYear} Moritz Frisch. Alle Rechte vorbehalten.</span
    >
    <div class="flex">
      <Socials />
    </div>
  </div>
</footer>
