---
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="w-full bg-gradient-to-r from-blue-600 to-blue-100 text-sm text-blue-800"
>
  <div
    class="flex max-w-6xl flex-col items-center justify-between gap-4 px-4 py-8 sm:flex-row"
  >
    <div
      class="flex flex-col items-center sm:flex-auto sm:items-start sm:text-blue-200 md:order-1"
    >
      <p>Restaurant Rhodos</p>
      <p>Mainzer Straße 2, 64331 Weiterstadt</p>
      <p>Telefon: 06150-4120</p>
      <a href="mailto:info@restaurant-rhodos.net" class="hover:underline"
        >E-Mail: info@restaurant-rhodos.net</a
      >
    </div>
    <div class="m-auto flex flex-col items-center md:order-3">
      <p>Öffnungszeiten:</p>
      <p>Dienstag - Freitag & Sonntag:</p><p>12:00 - 14:30 und 17:00 - 23:00</p>
      <p>Samstag: 17:00 - 23:00</p>
      <p>Montag: Ruhetag</p>
    </div>
  </div>

  <div class="flex flex-col items-center md:order-2">
    <div class="flex items-center">
      <span class=""
        >&copy; {currentYear} Moritz Frisch. Alle Rechte vorbehalten.</span
      >
    </div>
    <div class="flex">
      <Socials />
    </div>
  </div>
</footer>
