---
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
import socialLinks from "@utils/socialLinks";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <div class="social-icons">
      {
        socialLinks
          .filter((socialLink) => socialLink.active)
          .map((socialLink) => (
            <LinkButton
              href={socialLink.href}
              className="link-button"
              title={socialLink.name}
            >
              <Fragment set:html={socialLink.icon} />
            </LinkButton>
          ))
      }
    </div>
    <div class="copyright-wrapper">
      <span>Copyright &#169; {currentYear}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply py-6 sm:py-4 flex flex-col sm:flex-row-reverse justify-between items-center;
  }
  .link-button {
    @apply p-2 my-1 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col sm:flex-row items-center whitespace-nowrap;
  }
  .separator {
    @apply hidden sm:inline;
  }
  .social-icons {
    @apply flex flex-wrap justify-center gap-1;
  }
</style>
