---
import socialIcons from "@assets/socialIcons";
import { SOCIALS } from "src/config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <div class="social-icons">
      {
        SOCIALS.filter((social) => social.active).map((social) => (
          <LinkButton
            href={social.href}
            className="link-button"
            title={social.name}
          >
            <Fragment set:html={socialIcons[social.name]} />
          </LinkButton>
        ))
      }
    </div>
    <div class="copyright-wrapper">
      <span>Copyright &#169; {currentYear}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply py-6 sm:py-4 flex flex-col sm:flex-row-reverse justify-between items-center;
  }
  .link-button {
    @apply p-2 my-1 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col sm:flex-row items-center whitespace-nowrap;
  }
  .separator {
    @apply hidden sm:inline;
  }
  .social-icons {
    @apply flex flex-wrap justify-center gap-1;
  }
</style>
