---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class:list={["mx-auto max-w-app", noPadding ? "px-0" : "px-4"]}>
  <hr class="border-border" aria-hidden={ariaHidden} />
</div>
