---
export interface Props {
  noPadding?: boolean;
}

const { noPadding = false } = Astro.props;
---

<div class={`max-w-3xl mx-auto ${noPadding ? "px-0" : "px-4"}`}>
  <hr class="border-skin-line" />
</div>
