---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
}

const { href, className, ariaLabel, title } = Astro.props;
---

<a
  type="button"
  href={href}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
