---
import IconHash from "@/assets/icons/IconHash.svg";
import { getTagConfig } from "@/tags";

type Props = {
  tag: string;
  tagName?: string;
  size?: "sm" | "lg";
  showDescription?: boolean;
};

const { tag, tagName, size = "lg", showDescription = false } = Astro.props;
const config = getTagConfig(tag);
const displayName = tagName || config.name;
---

<li class:list={[{ "mb-4": showDescription }]}>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "flex items-center gap-0.5",
      "px-2 py-0.5 rounded",
      "bg-[var(--astro-code-background)] text-foreground",
      "hover:text-accent",
      { "text-sm": size === "sm" },
      { "text-base": size === "lg" },
    ]}
  >
    <IconHash
      class:list={[
        "opacity-80 stroke-[2.5]",
        { "size-3.5": size === "lg" },
        { "size-3": size === "sm" },
      ]}
    />
    {displayName}
  </a>
  {showDescription && config.description && (
    <p class="text-sm text-muted-foreground mt-1 ml-5">{config.description}</p>
  )}
</li>
