---
export interface Props {
  tag: string;
  size?: number;
}

const { tag, size = 14 } = Astro.props;
---

<li class={`inline-block my-1`} style={`text-underline-offset: ${size / 4}px;`}>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={`pr-2 group`}
    style={`font-size: ${size}px;`}
  >
    <span class="font-sans">#</span>{tag}
  </a>
</li>

<style>
  a {
    @apply relative underline decoration-dashed hover:-top-0.5 hover:text-skin-accent focus-visible:p-1;
  }
</style>
