---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block group-hover:cursor-pointer",
    size === "sm" ? "my-1" : "mx-1 my-3",
  ]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "relative inline-flex items-center px-3 py-1 rounded-full border border-accent/30 text-accent hover:text-accent-secondary hover:border-accent-secondary/50 transition-all duration-300",
      { "text-sm py-0.5 px-2": size === "sm" },
    ]}
  >
    <IconHash
      class:list={[
        "inline-block mr-1",
        { "size-3": size === "sm" },
        { "size-4": size === "lg" },
      ]}
    />
    <span>{tagName}</span>
  </a>
</li>
