---
export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block group-hover:cursor-pointer",
    "underline decoration-dashed focus-visible:no-underline",
    size === "sm" ? "my-1 underline-offset-4" : "mx-1 my-3 underline-offset-8",
  ]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "block pe-2 group-hover:text-accent focus-visible:p-1 ",
      { "text-sm group-hover:-translate-y-0.5": size === "sm", "text-lg group-hover:-translate-y-1": size === "lg" },
    ]}
  >
    # {tagName}
  </a>
</li>
