---
import "../styles/base.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- meta tags for social media & SEO -->
    <meta name="author" content="Sat Naing" />
    <meta name="description" content="custom_description" />
    <meta property="og:title" content="og_title" />
    <meta property="og:description" content="og_description" />
    <meta property="og:image" content="/some-image.png" />
    <meta property="og:url" content="/this-page.html" />
    <meta property="og:site_name" content="og_site_name" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:alt" content="twitter_image_description" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <script is:inline>
      // Get theme data from local storage
      const currentTheme = localStorage.getItem("theme");

      // Set theme to 'theme-dark' if currentTheme is 'dark'
      const theme = currentTheme === "dark" ? "theme-dark" : "";

      // Put dark class on html tag to enable dark mode
      document.querySelector("html").className = theme;
    </script>
  </head>
  <body class="font-mono bg-skin-fill text-skin-base">
    <slot />
  </body>
</html>
