---
import { SITE } from "@config";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`} , activeNav="lunch">
  <main id="main-content">
    <section id="about">
      <h1 class="py-4 text-2xl tracking-wider sm:text-3xl">
        {frontmatter.title}
      </h1>
      <slot />
    </section>
  </main>
</Layout>
